body {

}

html {
    font-size: 62.5%;
}

.section {
    background-size: 100% 100%;
    min-width: 800px !important;
    /*min-height: 600px !important;*/
    /*overflow-x: scroll !important;*/
    /*background-size: cover;*/
}


/* section 1 */

#section-1 {
    background: url("../img/product/1/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#s1-technology {
    position: absolute;
    right: 9.90%;
    bottom: 39.22%;

    width: 15.94%;
}

#s1-words-img {
    position: absolute;
    width: 40.13%;
    /*height: 12.69%;*/
    right: 9.90%;
}



#section-1 .out {
    top: 120%;
    transition: 0s 1s;
}

#section-1 .in {
    top: 64.31%;
    transition: 1s;
}

#s1-more {
    position: absolute;
    bottom: 10%;
    right: 9.90%;
    font-size: 32px;
    color: #fff;
    text-decoration: underline;
}

.more-out {
    transition: 0.3s 1s;
    opacity: 0;
}

.more-in {
    transition: 0.3s 1s;
    opacity: 1;
}

/* section 2 */

#section-2 {
    background: url("../img/product/2/background.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#s2-middle-img {
    position: absolute;
    top: 23.87%;
    left: 20%;
    width: 55.5%;
    height: 62.76%;
}

#s2-robot-img, #s2-robot-img-liang{
    position: absolute;
    right: 27%;
    bottom: 45%;
}

@media (min-width: 800px) {
    #s2-robot-img, #s2-robot-img-liang {
        width: auto;
        height: 24.83%;
    }
}

@media (max-width: 800px) {
    #s2-robot-img, #s2-robot-img-liang {
        width: 20%;
        height: auto;
    }
}

@keyframes blinking {
    0% { opacity: 0; }
    100% { opacity: 1;}
}

#s2-robot-img-liang.s2-in {
    animation: 1s 2.3s blinking linear infinite forwards normal;
}

#s2-view-more {
    text-decoration: underline;
    position: absolute;
    right: 32%;
    bottom: 20%;
    color: #fff;
    font-size: 22px;
}

#s2-robot-img-liang.s2-out, #s2-robot-img.s2-out {
    transition: 0s 1s;
    opacity: 0;
}

#s2-robot-img-liang.s2-in, #s2-robot-img.s2-in {
    transition: 1s 0.4s;
    opacity: 1;
}

.s2-out {
    transition: 0s 1s;
    opacity: 0;
}

.s2-in {
    transition: 1s;
    opacity: 1;
}


/* section 3 */

#section-3 {
    background: url("../img/product/3/background-baoxian.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#s3-good-staw {
    position: absolute;
    left: 41.5%;
}




/* section 4 */
#section-4 {
    background: url("../img/product/4/background.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}