body {

}



.section {
    background-size: 100% 100%;
    min-width: 800px !important;
    /*min-height: 600px !important;*/
    /*overflow-x: scroll !important;*/
    /*background-size: cover;*/
}


/* section 1 */

#section-1 {
    background: url("../img/product/1/background.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    overflow: hidden;

}


@media (max-width: 992px) {
    #section-1 {
        background-image: url("http://7xqex8.com5.z0.glb.clouddn.com/img/p1/background.jpg-992");
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    #section-1 {
        background-image: url("http://7xqex8.com5.z0.glb.clouddn.com/img/p1/background.jpg-1200") ;
    }
}

@media (min-width: 1201px) {
    #section-1 {
        background-image: url("http://7xqex8.com5.z0.glb.clouddn.com/img/p1/background.jpg-1451");
    }
}

#s1-technology {
    position: absolute;
    right: 9.90%;
    bottom: 39.22%;
    width: 227px;
}

#s1-words-img {
    position: absolute;
    width: 571px;
    right: 9.90%;
}



#section-1 .out {
    top: 120%;
    transition: 0s 1s;
}

#section-1 .in {
    top: 64.31%;
    transition: 1s;
}

#s1-more {
    position: absolute;
    bottom: 10%;
    right: 9.90%;
    font-size: 26px;
    color: #fff;
    text-decoration: underline;
}


.more-out {
    transition: 0.3s 1s;
    opacity: 0;
}

.more-in {
    transition: 0.3s 1s;
    opacity: 1;
}

/* section 2 */

@media (max-width: 992px) {
    #section-2 {
        background-image: url("http://7xqex8.com5.z0.glb.clouddn.com/img/p2/background.jpg-992");
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    #section-2 {
        background-image: url("http://7xqex8.com5.z0.glb.clouddn.com/img/p2/background.jpg-1200") ;
    }
}

@media (min-width: 1201px) {
#section-2 {
    background-image: url("http://7xqex8.com5.z0.glb.clouddn.com/img/p2/background.jpg-1451");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: inherit;
}

@media (min-width: 1100px) {
    #s2-middle-div {
        width: 791px;
        height: 517px;
        position: absolute;
        margin-top: -259px;
        margin-left: -410px;
        padding-top: 34px;
    }
}

@media (max-width: 1100px) {
    #s2-middle-div {
        width: 632px;
        height: 413px;
        margin-top: -206px;
        margin-left: -365px;
        padding-top: 30px;
    }
}
@media (max-height: 640px) {
    #s2-middle-div {
        width: 632px;
        height: 413px;
        margin-top: -206px;
        margin-left: -365px;
        padding-top: 30px;
    }
}    

#s2-middle-div {
    position: absolute;
    left: 50%;
    top: 50%;
}

#s2-middle-img {
    width: 100%;
}

#s2-robot-img, #s2-robot-img-liang{
    position: absolute;
    width: 27.05%;
    right: 4%;
    bottom: 44%;
}



@keyframes blinking {
    0% { opacity: 0; }
    100% { opacity: 1;}
}

#s2-robot-img-liang.s2-in {
    animation: 1s 2.3s blinking linear infinite forwards normal;
}

#s2-view-more {
    text-decoration: underline;
    position: absolute;
    right: 10%;
    bottom: 7%;
    color: #fff;
    font-size: 22px;
}

#s2-robot-img-liang.s2-out, #s2-robot-img.s2-out {
    transition: 0s 1s;
    opacity: 0;
}

#s2-robot-img-liang.s2-in, #s2-robot-img.s2-in {
    transition: 1s 0.4s;
    opacity: 1;
}

.s2-out {
    transition: 0s 1s;
    opacity: 0;
}

.s2-in {
    transition: 1s;
    opacity: 1;
}


/* section 3 */


@media (max-width: 992px) {
    #section-3 {
        background-image: url("http://7xqex8.com5.z0.glb.clouddn.com/img/p3/background.jpg-992");
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    #section-3 {
        background-image: url("http://7xqex8.com5.z0.glb.clouddn.com/img/p3/background.jpg-1200") ;
    }
}

@media (min-width: 1201px) {
    #section-3 {
        background-image: url("http://7xqex8.com5.z0.glb.clouddn.com/img/p3/background.jpg-1451");
    }
}

#s3-middle-div {
    position: absolute;
    left: 50%;
    top: 50%;

}

@media (min-height: 730px) {
    #s3-middle-div {
        width: 706px;
        height: 614px;
        margin-top: -250px;
        margin-left: -353px;
    }
}

@media (max-height: 730px) {
    #s3-middle-div {
        width: 600px;
        height: 522px;
        margin-top: -220px;
        margin-left: -300px;
    }
}

#s3-baoxian {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 29.74%;
    margin-left: -16%;
}

.s3-out {
    transition: 0s 1s;
    opacity: 0;
}

.s3-in {
    opacity: 1;
}

#s3-left {
    position: absolute;
    width: 24%;
    top: 18%;
    z-index: 1;
    transition: 1s 1s;
}

#s3-left.s3-in {
    left: 15%;
}

#s3-left.s3-out {
    left: -3000px;
}

#s3-left-word {
    position: absolute;
    width: 43.20%;
    top: 45%;
    z-index: 1;
    transition: 1s 1s;
}

#s3-left-word.s3-in {
    left: 2%;
}

#s3-left-word.s3-out {
    left: -3000px;
}

#s3-good-staw {
    position: absolute;
    top: 17%;
    left: 50%;
    width: 38%;
    margin-left: -19%;
}

#s3-bad-staw {
    position: absolute;
    top: 17%;
    left: 50%;
    width: 38%;
    margin-left: -19%;
    transition: 2s;
}

#s3-shadow {
    position: absolute;
    top: 65%;
    left: 50%;
    margin-left: -25%;
    width: 50%;
}


#s3-right {
    position: absolute;
    right: 16%;
    bottom: 28%;
    transition: 1s 1s;
}

#s3-right.s3-in {
    right: 16%;
}

#s3-right.s3-out {
    right: -3000px;
}

#s3-right-word {
    position: absolute;
    width: 33.00%;
    right: 6%;
    bottom: 63%;
    z-index: 1;
    transition: 1s 1s;
}

#s3-right-word.s3-in {
    right: 6%;
}

#s3-right-word.s3-out {
    right: -3000px;
}

.s3-sentence {
    text-align: center;
    width: 100%;
    position: absolute;
}

.s3-sentence.s3-out {
    transition: 1s 0s;
}

.s3-sentence.s3-in {
    transition: 2s 2s;
}

#s3-sentence-1 {
    font-size: 24px;
    color: #999;
    bottom: 25%;
}

#s3-sentence-2 {
    font-size: 38px;
    color: #333;
    bottom: 15%;
}

#s3-sentence-3 {
    font-size: 38px;
    color: #333;
    bottom: 8%;
}

#s3-sentence-4 {
    font-size: 40px;
    color: #1abc9c;
    bottom: 0%;
}


/* section 4 */

@media (max-width: 992px) {
    #section-4 {
        background-image: url("http://7xqex8.com5.z0.glb.clouddn.com/img/p4/background.jpg-992");
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    #section-4 {
        background-image: url("http://7xqex8.com5.z0.glb.clouddn.com/img/p4/background.jpg-1200") ;
    }
}

@media (min-width: 1201px) {
    #section-4 {
        background-image: url("http://7xqex8.com5.z0.glb.clouddn.com/img/p4/background.jpg-1451");
    }
}

#s4-huanjing {
    position: absolute;
    top: 15%;
    left: 50%;
    margin-left: -113px;
    width: 227px;
}

/* The same to s3-millder-div */
#s4-middle-div {
    position: absolute;
    width: 706px;
    height: 614px;
    left: 50%;
    top: 50%;
    margin-left: -353px;
    margin-top: -250px;
}

#s4-dash {
    position: absolute;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    height: 0px;
    border-top:1px solid white;
}

#s4-dash.s4-in {
    transition: 1s;
    top: 35%;
}

#s4-dash.s4-out {
    transition: 0s 1s;
    top: 160%;
}

#s4-sentence-1 {
    color: white;
    position: absolute;
    /*top: 38%;*/
    left: 50%;
    width: 600px;
    margin-left: -300px;
    font-size: 34px;
}

#s4-sentence-1.s4-in {
    transition: 1s;
    top: 38%;
}

#s4-sentence-1.s4-out {
    transition: 0s 1s;
    top: 163%;
}

#s4-sentence-2 {
    color: white;
    position: absolute;
    /*top: 45%;*/
    left: 50%;
    width: 600px;
    margin-left: -300px;
    font-size: 34px;
}

#s4-sentence-2.s4-in {
    transition: 1s;
    top: 45%;
}

#s4-sentence-2.s4-out {
    transition: 0s 1s;
    top: 170%;
}

#s4-view-more {
    color: white;
    position: absolute;
    /*top: 60%;*/
    left: 50%;
    width: 600px;
    margin-left: -300px;
    font-size: 30px;
    text-decoration: underline
}

#s4-view-more.s4-in {
    transition: 1s;
    top: 60%;
}

#s4-view-more.s4-out {
    transition: 0s 1s;
    top: 185%;
}
@media (max-width: 479px) {
	.section {
		min-width: 100px !important;	
	}	
    
    #s1-technology {
    	width: 100px;
    }	
    #s1-words-img {
    	width: 280px;
    }	
    #s1-more-img{
    	position: absolute;
    	width: 100px;
    	right: 9.90%;
    	bottom: 16%;
    }
    #s2-view-more {
	  right: 8%;
	  bottom: 10%;
	  font-size: 14px;
	}
	
    #s2-middle-div {
      width: 90%;
	  height: 240px;
	  margin-top: -206px;
	  margin-left: -190px;
	  padding-top: 30px;
    }
    #s3-middle-div {
    	margin-left: -150px;	
    }	
	#s3-baoxian {
	  top: 10%;
	  left: 12%;
	  width: 15%;
	  margin-left: 0;
	}
	#s3-left.s3-in {
	  left: 4%;
	}
	#s3-left {
	  width: 10%;
	  top: 30%;
	}
	#s3-left-word.s3-in {
	  left: 0%;
	}
	#s3-left-word {
	  width: 22%;
	  top: 42%;
	  margin-left: -2%;
	}
	#s3-shadow {
	  top: 51%;
	  left: 36%;
	  width: 20%;
	}
	#s3-good-staw {
	  top: 25%;
	  left: 30%;
	  width: 20%;
	}
	#s3-bad-staw {
	  top: 25%;
	  left: 30%;
	  width: 20%;
	}	
	#s3-right.s3-in {
	  right: 64%;
	}
	#s3-right {
	  bottom: 48%;
	  width: 10%;
	}
	#s3-right-word.s3-in {
	  right: 55%;
	}
	#s3-right-word {
	  width: 18.00%;
	  bottom: 60%;
	}
	.s3-sentence {
		width: 44%;	
	}	
	#s3-sentence-1 {
	  font-size: 14px;
	  bottom: 40%;
	}
	#s3-sentence-2 {
	  font-size: 16px;
	  bottom: 32%;
	}
	#s3-sentence-3 {
	  font-size: 16px;
	  bottom: 28%;
	}
	#s3-sentence-4 {
	  color: #fff;
	  bottom: 20%;
	  display: inline-block;
	  margin-bottom: 0;
	  font-weight: normal;
	  text-align: center;
	  vertical-align: middle;
	  cursor: pointer;
	  background-image: none;
	  border: 1px solid transparent;
	  white-space: nowrap;
	  padding: 6px 10px;
	  font-size: 14px;
	  line-height: 1.4;
	  border-radius: 5px;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	  width: 120px;
	  left: 13%;
	  background-color: #1abc9c;
	}
	#section-4 {
	    background: url("../img/product/4/BG_02.png") no-repeat right top;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	    text-align: center;
	}
	#s4-huanjing {
		left: 35%;
  		width: 25%;
  		margin-left: 0px;
	}	
	#s4-middle-div {
	  width: 60%;
  	  left: 20%;
	  margin-left: 0px;
	}
	#s4-dash {
		left: 0;
		width: 100%;
		margin-left: 0;	
	}	
	#s4-desc{
		position: absolute;
		top: 35%;
		left: 12%;
		text-align: center;
		color: #ffffff;
		font-size: 18px;
	}
	#s4-more-img {
	  position: absolute;
	  width: 100px;
	  top: 55%;
	  left: 28%;
	}
}



@media (min-width: 480px) and  (max-width: 767px) {
	.section {
		min-width: 100px !important;	
	}	
    
    #s1-technology {
    	width: 100px;
    }	
    #s1-words-img {
    	width: 280px;
    }	
    #s1-more-img{
    	position: absolute;
    	width: 100px;
    	right: 9.90%;
    	bottom: 8%;
    }
    #s2-view-more {
	  right: 8%;
	  bottom: 10%;
	  font-size: 14px;
	}
	
    #s2-middle-div {
      width: 60%;
	  height: 420px;
	  margin-top: -206px;
	  margin-left: -220px;
	  padding-top: 100px;
    }
    #s3-middle-div {
    	margin-left: -150px;	
    	height: 500px;
    	top: 60%;
    }	
	#s3-baoxian {
	  top: 20%;
	  left: 15%;
	  width: 15%;
	  margin-left: 0;
	}
	#s3-left.s3-in {
	  left: 8%;
	}
	#s3-left {
	  width: 10%;
	  top: 35%;
	}
	#s3-left-word.s3-in {
	  left: 3%;
	}
	#s3-left-word {
	  width: 22%;
	  top: 50%;
	  margin-left: -2%;
	}
	#s3-shadow {
	  top: 62%;
	  left: 36%;
	  width: 20%;
	}
	#s3-good-staw {
	  top: 30%;
	  left: 34%;
	  width: 15%;
	}
	#s3-bad-staw {
	  top: 30%;
	  left: 34%;
	  width: 15%;
	}	
	#s3-right.s3-in {
	  right: 64%;
	}
	#s3-right {
	  bottom: 40%;
	  width: 10%;
	}
	#s3-right-word.s3-in {
	  right: 55%;
	}
	#s3-right-word {
	  width: 18.00%;
	  bottom: 55%;
	}
	.s3-sentence {
		width: 44%;	
	}	
	#s3-sentence-1 {
	  font-size: 14px;
	  bottom: 38%;
	}
	#s3-sentence-2 {
	  font-size: 16px;
	  bottom: 32%;
	}
	#s3-sentence-3 {
	  font-size: 16px;
	  bottom: 28%;
	}
	#s3-sentence-4 {
	  color: #fff;
	  bottom: 20%;
	  display: inline-block;
	  margin-bottom: 0;
	  font-weight: normal;
	  text-align: center;
	  vertical-align: middle;
	  cursor: pointer;
	  background-image: none;
	  border: 1px solid transparent;
	  white-space: nowrap;
	  padding: 6px 10px;
	  font-size: 14px;
	  line-height: 1.4;
	  border-radius: 5px;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	  width: 120px;
	  left: 13%;
	  background-color: #1abc9c;
	}
	#section-4 {
	    background: url("../img/product/4/BG_02.png") no-repeat right top;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	    text-align: center;
	}
	#s4-huanjing {
		left: 60%;
		width: 15%;
	}	
	#s4-middle-div {
	  width: 32%;
	  left: 35%;
	  top: 60%;
	  margin-left: 0px;
	}
	#s4-dash {
		left: 0;
		width: 100%;
		margin-left: 0;	
	}	
	#s4-desc{
		position: absolute;
		top: 35%;
		left: 12%;
		text-align: center;
		color: #ffffff;
		font-size: 18px;
	}
	#s4-more-img {
	  position: absolute;
	  width: 100px;
	  top: 55%;
	  left: 28%;
	}	
}