body {

}



.section {
    background-size: 100% 100%;
    /*background-size: cover;*/
}

#section-1 {
    background-image: url("../img/product/1/background.png");
}

#s1-words-img {
    position: absolute;
    width: 40.13%;
    right: 10%;
}

#section-1 .out {
    bottom: -20%;
    transition: 0s 1s;
}

#section-1 .in {
    bottom: 23%;
    transition: 1s;
}

#section-2 {
    background-image: url("../img/product/2/background.png");
}

#section-3 {
    background-image: url("../img/product/3/background.png");
}

#section-4 {
    background-image: url("../img/product/4/background.png");
}